# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# VS Code
.vscode/

# mypy
.mypy_cache/
.dmypy.json

# Pyre type checker
.pyre/

# Manifest and output
python-versions/output/

# OS files
.DS_Store
Thumbs.db

# GitHub workflow scripts (bytecode)
.github/workflow-scripts/*.pyc


# Docker
*.tar
# Exclude all tar.gz files except those in PowerShell/patch
*.tar.gz
!PowerShell/patch/powershell-gen-*.tar.gz

# Logs
*.log
